<div class="col-4">
  <div class="feature-products-card">
    <img src="img/global/pro02.png" alt="" />
    <span class="feature-products-card-sale">-9%</span>
    <h5>Hyper</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores magni
      quod blanditiis
    </p>

    <div class="feature-products-card-reviews-box">
      <img
        src="img/svg/star-icon.svg"
        class="feature-products-reviews-icon"
        alt=""
      />
      <img
        src="img/svg/star-icon.svg"
        class="feature-products-reviews-icon"
        alt=""
      />
      <img
        src="img/svg/star-icon.svg"
        class="feature-products-reviews-icon"
        alt=""
      />
      <img
        src="img/svg/star-icon.svg"
        class="feature-products-reviews-icon"
        alt=""
      />
      <img
        src="img/svg/star-icon.svg"
        class="feature-products-reviews-icon"
        alt=""
      />
      <p>( 1 review )</p>
    </div>
    <div class="feature-products-card-price-box">
      <span>Rs. 12,000.00</span>
      <p>Rs. 9,800.00</p>
    </div>

    <button>add to cart</button>
  </div>
</div>
<!-- 


  .feature-products-card {
        background-color: $main-white;
        padding: 12px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        position: relative;
        img {
          width: 100%;
          height: 241px;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          scale: 0.9;
          &:hover {
            scale: 1;
          }
        }
        h5 {
          @include main-font;
          color: $main-color;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 0;
        }
        p {
          @include main-font;
          color: $main-gray;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0;
        }
        .feature-products-card-reviews-box {
          display: flex;
          .feature-products-reviews-icon {
            height: 15px;
            width: 15px;
          }
          p {
            @include main-font;
            color: $main-black;
            font-size: 13px;
            font-weight: 400;
            margin-left: 5px;
            margin-bottom: 0;
          }
        }
        .feature-products-card-price-box {
          display: flex;
          align-items: center;
          gap: 15px;
          span {
            @include main-font;
            color: $main-gray;
            text-decoration: line-through;
            font-size: 14px;
            font-weight: 500;
          }
          p {
            @include main-font;
            color: $main-black;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
        button {
          @include main-font;
          font-weight: 400;
          border: 1px solid $main-color;
          color: $main-color;

          padding: 10px 20px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 14px;
          background-color: $main-white;

          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: $main-color;
            color: $main-white;
          }
        }
        .feature-products-card-sale {
          position: absolute;
          @include main-font;
          top: 10px;
          left: 10px;
          background-color: $main-red;
          color: $main-white;
          padding: 5px 12px;
        }
      }

-->