<div class="product-card">
  <img src="img/global/pro02.png" alt="" />
  <span class="product-card-sale">-9%</span>
  <h5>Hyper</h5>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores magni quod
    blanditiis
  </p>

  <div class="product-card-reviews-box">
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <p>( 1 review )</p>
  </div>
  <div class="product-card-price-box">
    <span>Rs. 12,000.00</span>
    <p>Rs. 9,800.00</p>
  </div>

  <button>add to cart</button>
</div>
