<div class="product-card">
  <img src="{{image}}" alt="" />
  <span class="product-card-sale">{{sale}}</span>
  <h5>{{title}}</h5>
  <p>
    {{description}}
  </p>

  <div class="product-card-reviews-box">
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <img src="img/svg/star-icon.svg" class="product-card-reviews-icon" alt="" />
    <p>( 1 review )</p>
  </div>
  <div class="product-card-price-box">
    <span>{{price}}</span>
    <p>{{oldPrice}}</p>
  </div>

  <button>add to cart</button>
</div>
