.popup {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  opacity: 0;
  transition: 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: turquoise;
  padding: 120px 20px;
  background-image: url("../../img/global/bg_newsletterpopup_1920x.webp");
  background-size: cover;
  border-radius: 10px;
  z-index: 1000;
  .popup-close-btn {
    z-index: 1000;
    background-color: white;
    padding: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 0.5s;
    border-radius: 50%;
    right: -50px;
    top: -50px;
    .popup-close-btn-stick-1 {
      position: absolute;
      width: 20px;
      height: 2px;

      transform: rotate(225deg);
      background-color: black;
      transition: 0.5s;

      left: 10px;
    }
    .popup-close-btn-stick-2 {
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: black;
      transition: 0.5s;

      transform: rotate(315deg);

      left: 10px;
    }
    &:hover {
      div {
        background-color: $main-color;
        transform: rotate(45deg);
      }
      .popup-close-btn-stick-2 {
        transform: rotate(135deg);
      }
    }
  }
  .popup-info-box {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    h4 {
      @include main-font;
      color: $main-white;
      text-align: center;
      line-height: 1;
      font-weight: 500;
    }
    h1 {
      @include main-font;
      color: $main-white;
      text-align: center;
      font-size: 48px;
      font-weight: 600;

      text-transform: uppercase;
    }
    h5 {
      @include main-font;
      color: $main-gray;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }
    form {
      input {
        @include main-font;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid $main-black;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        color: $main-black;
      }
      button {
        @include main-font;
        text-transform: uppercase;
        width: 100%;
        padding: 15px 20px;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
        font-weight: 700;
        color: $main-white;
        background-color: $sub-black;
        transition: all 0.3s ease-in-out;
        margin-top: 20px;
      }
      .popup-dont-show-checkbox-box {
        margin-top: 20px;
        display: block;
        #popup-dontShow-checkbox {
          width: fit-content;
          margin-right:10px;
     
        }
        label {
          display: inline-block;
            @include main-font;
            color: $main-white;
        }
      }
    }
  }
}
.popup.active {
  opacity: 1;
}
