@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
// fonts
$main-font: "Bai Jamjuree", sans-serif;

$font-weight: 400;
$h1-font-weight: 700;
$h2-font-weight: 400;
$h3-font-weight: 500;
$h4-font-weight: 400;
$h5-font-weight: 500;
$h6-font-weight: 500;

// fonts

$main-color: #006937;
$main-gray: #92949f;
$sub-gray: #45474f;

$bg-gray: #eaeaec;
$sub-bg-gray: #f1f5f6;
$main-red: #dd3842;
$main-black: #222222;
$sub-black: #0c0c0d;
$main-white: #fafafa;
$sub-white: #f3f0fa;
